---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: trakt
  labels:
    app.kubernetes.io/name: trakt
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: trakt
  template:
    metadata:
      labels:
        app.kubernetes.io/name: trakt
    spec:
      containers:
        - name: trakt
          image: trakt
          env:
            - name: GOWON_TRAKT_API_KEY
              value: apikey
            - name: GOWON_TRAKT_KV_PATH
              value: /tmp/kv.db
          ports:
            - containerPort: 8080
              name: http
